[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = http://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = http://github.com/tpope/vim-endwise.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "taglist"]
	path = taglist
	url = http://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = http://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/zenesque"]
	path = bundle/zenesque
	url = http://github.com/vim-scripts/zenesque.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = http://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = http://github.com/tpope/vim-git.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/ack-vim"]
	path = bundle/ack-vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-rooter"]
	path = bundle/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "bundle/hammer"]
	path = bundle/hammer
	url = https://github.com/robgleeson/hammer.vim.git
